#overLayer{
    display: none;
    width: auto;
    background: #fff;
    padding: 10px;
    position: fixed;
    z-index: 100;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    height:86%;
}

#glayLayer {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #333;
    filter: alpha(opacity=75);
    opacity: .75;
    z-index: 50;
}

#overLayer .fa-times {
    position: absolute;
    font-size: 42px;
    color: #575757;
    background: #DFDFDF;
    padding: 6px 12px 9px;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
    cursor: pointer;
    right:14px;
}
